* {
  background-color: #3f3f3f;
  color: white;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 20px;
  width: 100%;
  height: 10vh;
}

.question-count {
  margin-top: 20%;
  margin-bottom: 20%;
}

.app {
  margin-top: 10%;
  width: 30%;
  height: 50%;
  background-color: black;
  border-radius: 2%;
}


.question-section, .question-text, h1, .answer-section, .question-count, .score  {
  background-color: black;
}

.score {
  padding-top: 10%;
  margin-bottom: 20%;
}